# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log
.incremental.
.polyglot.build.properties

# IDEs
.vscode/
.idea/
*.iml
*.iws
.settings/
.project
.classpath
.factorypath
bin/
/nbproject/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Logs
*.log

# MacFotoCli progress lists
.macfotocli_*
